html,body,p,ul,li,h5{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20px;
}

.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/bg.jpg");
}
.floor{
    width: 100%;
    margin-top: 3rem;
}
.floor>img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}

/*弹出框 s*/
.dialog{
    /*display: none;*/
    opacity: 0;
    -webkit-transition: opacity,left 0.6s;
    transition: opacity,left 0.6s;
    position: fixed;
    top: 0;
    left: -100%;
    width:100%;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 999999;
}

.display-block{
    display: block;
    opacity: 1;
    left: 0;
}

.dialog .content{
    background-color: #fff;
    width: 80%;
    height: 17rem;
    margin: 2rem  auto 0;
    border-radius: 4px;
    overflow-y: scroll;
}
.dialog h5{
    font-weight: 400;
    font-size: 0.8rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0.3rem 0.5rem 0 0.5rem;
}
.dialog .paragraph{
    font-size: 0.7rem;
    padding: 0 0.5rem 0.3rem 0.5rem;
}
.dialog .con{
    height: 48px;
    background: #ccc;
    font-size: 0.7rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #ccc;

}

.dialog .con span{
    display: inline-block;
    width: 100%;
    padding: 0;
    height: 48px;
    position: relative;
}
.dialog .con span:hover{
    background-color: #fff;
}
.dialog .location-pic img{
    width:100%;
    height: auto;
}
.close{
    position: absolute;
    right: 10%;
    top: 2rem;
    padding: 0.2rem 0.5rem;
    background: rgba(0,0,0,0.25);
    border-bottom-left-radius: 3px;
}
a.close:hover{
    background: rgba(0,0,0,0.55);
}
/*弹出框 e*/
#file-audio{
    position: absolute;
    right: 0;
    width: 100% !important;
    height: 48px !important;
}
.action{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}
.action a{
    padding: 0.3rem 0.5rem;
    background-color: #007aff;
    color: #fff;
    border-radius: 4px;
    font-size: 0.7rem;
}


