
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503541983023'); /* IE9*/
  src: url('iconfont.eot?t=1503541983023#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503541983023') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503541983023') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503541983023#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before { content: "\e600"; }

.icon-eyedropper:before { content: "\e901"; }

.icon-crop-tool:before { content: "\e902"; }

.icon-eraser:before { content: "\e903"; }

.icon-cube:before { content: "\e904"; }

.icon-drawing-tablet:before { content: "\e905"; }

.icon-grid-layout:before { content: "\e906"; }

.icon-tag-3:before { content: "\e907"; }

.icon-tag-2:before { content: "\e908"; }

.icon-tag-1:before { content: "\e909"; }

.icon-tag-0:before { content: "\e90a"; }

